__pycache__/
*.pth
*.pt
*.ckpt
data/
deepfashion_subset/
# Node
scrapper/node_modules/

# Python
__pycache__/
*.pyc

# Colab temp
*.ipynb_checkpoints

# Data / models (optional but recommended)
*.pth
*.pkl
*.json